mixin product-item(product)
  article.product(role='article' class=product.disabled ? 'product--disabled' : '')
    .product__card
      .product__content
        header.product__header
          p.product__tagline Сказочное заморское яство
          h2.product__title
            |Нямушка
            small.product__flavor= product.flavor
        ul.product__details
          li
            strong= product.portions
            |&nbsp;
            |#{getNumEnding(product.portions, ['порция', 'порции', 'порций'])}
          li
            if (product.gifts > 1)
              strong= product.gifts
              |&nbsp;
            |#{getNumEnding(product.gifts, ['мышь', 'мыши', 'мышей'])}
            |в&nbsp;подарок
          if product.review
            li= product.review
      .product__weight
        = formatNumber(product.weight)
        small кг
    footer.product__footer
      p.product__description!= product.description
      if product.disabled
        p.product__alert Печалька, #{product.flavor} закончился.
      else
        p.product__buy-action
          |Чего сидишь? Порадуй котэ,
          button.product__buy-button(type='button') купи.
  -
    function getNumEnding(number, endingArray) {
      var ending;
      number = number % 100;
      if (number >= 11 && number <= 19) {
        ending = endingArray[2];
      } else {
        number = number % 10;
        switch (number) {
          case 1:
            ending = endingArray[0];
            break;
          case 2:
          case 3:
          case 4:
            ending = endingArray[1];
            break;
          default:
            ending = endingArray[2];
        }
      }
      return ending;
    }

    function formatNumber(number) {
      return String(number).replace('.', ',');
    }
